@import './variables';

html,
body{
  height: 100%;
}

body{
  color: $text-color;
  background-color: $dark-background;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 500;
}
